%header
  %h1
  %h2.row.align-center
    Where digital meets physical, the revolution is already here.
  %h3.row.align-center
    Join us for an evening of presentations and discovery around the Interaction of Things.
  %a.attribution(href="http://www.flickr.com/photos/pagedooley/6132821813/in/photostream/")
    Photo by Kevin Dooley

.container
  .row
    .five.sixths.centered
      .row
        .four.fifth
          %nav.row.align-center.pts
            %h2.petite.one.fifth
              = link_to "ABOUT", "#about"
            %h2.petite.one.fifth
              = link_to "SPEAKERS", "#speakers"
            %h2.petite.one.fifth
              = link_to "TALKS", "#talks"
            %h2.petite.one.fifth
              = link_to "SPONSORS", "#sponsors"
            %h2.petite.one.fifth
              = link_to "BLOG", "#blog"
        %a.one.fifth.button.round(href="http://www.google.com") Register

  %section#about.row
    %hr
    %h2{style: "margin-left:-99999px"} ABOUT
    %article.one.third.pam{style: "text-align:center"}
      .pam.polaroid
        %iframe{:frameborder => "0", :height => "215", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=290+Congress+Street,+Boston,+MA&aq=0&oq=290+COngress+Stree+&sll=42.375793,-71.112957&sspn=0.14127,0.154324&ie=UTF8&hq=&hnear=290+Congress+St,+Boston,+Massachusetts+02210&t=m&ll=42.352978,-71.053391&spn=0.003409,0.00633&z=16&output=embed", :width => "295"}
      %h3.mtl
        Brightcove
        %br/
        290 Congress Street
        %br/
        Third Floor
        %br/
        Boston, MA
    %article.two.third.phl.ptm
      %h3 Tuesday, May 21 at Brightcove from 6:00 PM - 9:00 PM.

      %p
        Please join fellow designers, engineers, technologists and artists at Brightcove
        headquarters in Boston, Massachusetts as we explore the next great shift in
        interaction design.

      %p
        As we move beyond the screen, to connected devices and ubiquitous sensors, the
        internet of things enables us to know ourselves at greater fidelity (for good and
        bad), to plan our lives and cities better, and to engage with others more quickly
        and effectively.

      %p
        Through real-world stories and demonstrations, learn how people are combining
        data and physical products: From using sensors in retail spaces for generating
        customer interaction data and analytics, to measuring building performance for
        energy and occupancy, to controlling physical environments through gestural
        interaction.

  %section#speakers
    %hr
    %h2 SPEAKERS
    .row
      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
          Erik Dahl, Director of Design Strategy, Involution Studios
        %p
          Erik has enjoyed proven success as a researcher and designer. A recognized
          community leader with Columbus IxDA and a founder and organizer of the MidwestUX
          conference, Erik passes easily between thought leadership and project
          excellence. He has worked with dozens of clients in diverse industries,
          including Target, Bayer and Panasonic. Erik holds an MS in Human Computer
          Interactions from the University of Michigan and a BA in Cultural Anthropology
          and Philosophy.

      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
          Juhan Sonin, Creative Director, Involution Studios
        %p
          Juhan is an emeritus of some of the finest software organizations in the
          world: Apple, the National Center for Supercomputing Applications (NCSA) and
          the Massachusetts Institute of Technology (MIT). He has been a creative
          director for almost two decades with his work being featured in the New York
          Times, Newsweek, BBC International, Billboard Magazine and National Public
          Radio (NPR). His designs have enjoyed installations throughout Europe and the
          United States.

      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
          Laurence Koret, IT Manager, Pivotal Labs
        %p
          A full day of seamless code development brought to you by: Laurence Koret, the
          man behind the curtain. Laurence is a second generation computing engineer
          taught by his father, an IBM veteran, who helped launch OCR technology.
          Starlight Media, Laurence’s entrepreneurial tech company brought iOS users,
          Bucket Link, a great way to connect with your client in the cloud. Anywhere you
          look in the New York office, you’ll find him: in the server room, at your
          printer, adjusting your new screen, wrangling cables, getting you audio,
          monitoring Pivotal’s dynamic network, bringing you conference room wonderlands,
          and keeping a steady flow of internet goodness streaming straight to your
          computer all day, all night – and – is proud to do it for such an awesome team.
          When not operating something electronic he is a recognized beer judge , avid
          pickler and advanced open water certified diver.

  %section#talks
    %hr
    %h2 TALKS
    .row
      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
        %p

      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
        %p

      %article.one.third.pal
        %img(src="http://placehold.it/310x255/198d98/ffffff/")
        %h3.petite.ptm
          Programming Innovation: Hardware Hacking
        %p
          Laurence will demonstrate how a number of hardware hacking projects at Pivotal
          now have practical applications.  We are saving money and innovating at the same
          time.  How these hardware innovations are changing programming at Pivotal.

        %ul
          %li
            Project Monitor and how Pivotal uses it.
          %li
            A Raspberry Pi running a CI monitor instead of a Mac mini.
          %li
            A laptop cabinet key and lock replaced by the same swipe card used to enter
            the office.  Security and tracking device all in one.
          %li
            No phone no problem.  Creating a two-factor authenticator on a LeoStick for
            logging into Google Apps.

  %section#sponsors
    %hr
    %h2 SPONSORS
    %article.one.third.pal.mtl
      =image_tag "brightcove-logo.png"
    %article.one.third.pal.mtl
      =image_tag "invo-logo.png"
    %article.one.third.pal.mtl
      =image_tag "pivotal-logo.png"

  %section#blog
    %article
