-# = image_tag "aurora-borealis-curtains-alaska.jpg"
%header.white.band.padded
  %h1 Bytes and Atoms
  .row
    .four.sixths.centered
      .row
        .four.fifth
          %nav.row.align-center.half-pad-top
            %h2.petite.one.fifth
              = link_to "ABOUT", "#about"
            %h2.petite.one.fifth
              = link_to "SPEAKERS", "#speakers"
            %h2.petite.one.fifth
              = link_to "TALKS", "#talks"
            %h2.petite.one.fifth
              = link_to "SPONSORS", "#sponsors"
            %h2.petite.one.fifth
              = link_to "BLOG", "#blog"
        %a.one.fifth.button.round(href="http://www.google.com") Register

.container
  %section#about.row
    %article
      %p Some about text
  %section#speakers.row
    %article
      %p Some speaker text
  %section#talks.row
    %article
      %p Some talks text
  %section#sponsors.row
    %article
      %p Some sponsors text
  %section#blog.row
    %article
      %p Some blog text
