%header
  %h1
  %h2.row.align-center
    Where digital meets physical, the revolution is already here.
  %h3.row.align-center
    Join us for an evening of presentations and discovery around the Interaction of Things.
  %a.attribution(href="http://www.flickr.com/photos/pagedooley/6132821813/in/photostream/") Photo by Kevin Dooley

.container
  .row
    .five.sixths.centered
      .row
        .four.fifth
          %nav.row.align-center.half-pad-top
            %h2.petite.one.fifth
              = link_to "ABOUT", "#about"
            %h2.petite.one.fifth
              = link_to "SPEAKERS", "#speakers"
            %h2.petite.one.fifth
              = link_to "TALKS", "#talks"
            %h2.petite.one.fifth
              = link_to "SPONSORS", "#sponsors"
            %h2.petite.one.fifth
              = link_to "BLOG", "#blog"
        %a.one.fifth.button.round(href="http://www.google.com") Register
  %hr
  %h2{style: "margin-left:-99999px"} ABOUT
  %section#about.row
    %article.one.third
    %article.two.third
      %h3 Tuesday, May 21 at Brightcove from 6:00 PM - 9:00 PM.

      %p Please join fellow designers, engineers, technologists and artists at Brightcove headquarters in Boston, Massachusetts as we explore the next great shift in interaction design.

      %p As we move beyond the screen, to connected devices and ubiquitous sensors, the internet of things enables us to know ourselves at greater fidelity (for good and bad), to plan our lives and cities better, and to engage with others more quickly and effectively.

      %p Through real-world stories and demonstrations, learn how people are combining data and physical products: From using sensors in retail spaces for generating customer interaction data and analytics, to measuring building performance for energy and occupancy, to controlling physical environments through gestural interaction.
  %section#speakers.row
    %article
      %p Some speaker text
  %section#talks.row
    %article
      %p Some talks text
  %section#sponsors.row
    %article
      %p Some sponsors text
  %section#blog.row
    %article
      %p Some blog text
