= image_tag "aurora-borealis-curtains-alaska.jpg"
%header.white.band.padded
  .container
    %h2 Bytes and Atoms
    .one.sixth
    .four.sixths
      %nav.row.align-center
        %h3.one.sixth
          = link_to "ABOUT", "#about"
        %h3.one.sixth
          = link_to "SPEAKERS", "#speakers"
        %h3.one.sixth
          = link_to "TALKS", "#talks"
        %h3.one.sixth
          = link_to "SPONSORS", "#sponsors"
        %h3.one.sixth
          = link_to "BLOG", "#blog"
        %button.round.one.sixth Register
    .one.sixth

.container
  %section#about.row
    %article
      %p Some about text
  %section#speakers.row
    %article
      %p Some speaker text
  %section#talks.row
    %article
      %p Some talks text
  %section#sponsors.row
    %article
      %p Some sponsors text
  %section#blog.row
    %article
      %p Some blog text
